<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# the CSS file lives at "public/css/blog.css" #}
        <link href="{{ absolute_url('/assets/bootstrap-5.2.0/css/bootstrap.min.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ absolute_url('/') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_user') }}" class="nav-link px-2 link-dark">Les vendeurs</a></li>
                            <li><a href="{{ path('app_user_profile', { id: app.user.id }) }}" class="nav-link px-2 link-dark">Mes annonces</a></li>
                            <li><a href="{{ path('app_annonce_new') }}" class="nav-link px-2 link-dark">Nouvelle annonce</a></li>
                        {% else %}
                            <li><a href="{{ path('app_annonce_index') }}" class="nav-link px-2 link-dark">Toutes les annonces</a></li>
                        {% endif %}
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    {% if app.user %}
                        {# <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div> #}
                        <a href="{{ path('app_user_show') }}" class="nav-link px-2 link-dark">Mon compte</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="nav-link px-2 link-dark">Me connecter</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="container">
            {{ include('error/_flashes.html.twig') }}
            {% block body %}{% endblock %}
        </main>
        <footer>
            Footer
        </footer>
        {# the JS file lives at "public/bundles/acme/js/loader.js" #}
        <script src="{{ absolute_url('/assets/bootstrap-5.2.0/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
