{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <section class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Les vendeurs</li>
            </ol>
        </nav>
    </section>
    <section class="row">
        <div class="col-12">
            <h1>Tous les vendeurs sur MonAnnonce</h1>
        </div>
        {% for user in users %}
            <div class="col-xs-12 col-md-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">
                            {{ user.firstname }} {{ user.lastname }}
                        </h5>
                        <p class="card-text">
                            {{ user.email }}<br />
                            {{ user.phonenumber }}<br />
                        </p>
                        <p class="card-text">
                            <small class="text-muted">{{ user.annonces|length }} Annonces</small>
                        </p>
                        <p>
                            <a href="{{ path('app_user_profile', { id: user.id }) }}" class="btn btn-info">Accéder au profil</a>
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="alert alert-info">Il n'y a pas de vendeurs disponibles</p>
        {% endfor %}
    </section>
{% endblock %}
