<h1>Contact du support depuis le site MonAnnonce.fr</h1>

<p>Un utilisateur vient de vous contacter :</p>

<p>
    <strong>Nom: </strong>{{ mailData['lastname'] }}<br>
    <strong>Prénom: </strong>{{ mailData['firstname'] }}<br>
    <strong>Email: </strong>{{ mailData['email'] }}<br>
    <strong>Objet: </strong>{{ mailData['subject'] }}<br>
    <strong>Corp du message: </strong>{{ mailData['body'] }}<br>
</p>

<p>
Message automatique envoyé depuis le formulaire de contact de MonAnnonce.fr
</p>
