<h1>Demande de renseignement sur votre annonce</h1>

<p>Un nouvel utilisateur souhaite entrer en contact avec vous au sujet de l'annonce {{ annonce.title }}, ci-après les informations qu'il vous adresse.</p>

<p>
    <strong>Nom: </strong>{{ mailData['lastname'] }}<br>
    <strong>Prénom: </strong>{{ mailData['firstname'] }}<br>
    <strong>Email: </strong>{{ mailData['email'] }}<br>
    <strong>Corp du message: </strong>{{ mailData['body'] }}<br>
</p>

<p>
Message automatique envoyé depuis MonAnnonce.fr
</p>
